*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{


height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

radial-gradient(circle,#182b55,#05051b);


color:white;


}




.container{


width:950px;

text-align:center;


}




h1{


font-size:55px;


background:

linear-gradient(90deg,#ff00cc,#00ffff);


-webkit-background-clip:text;


color:transparent;


}



.subtitle{


font-size:22px;

margin:15px;


}


.subtitle span{

color:#ff2ca8;

}




.game{


display:flex;

justify-content:center;

align-items:center;

gap:30px;


}





.card{


width:220px;

padding:25px;

border-radius:20px;


background:#101a3a;


border:2px solid #4444ff;


box-shadow:0 0 25px blue;


}



.card h2{

margin-bottom:20px;

}




.score{


display:flex;

justify-content:space-between;


margin:18px;


font-size:20px;


}




.board{


display:grid;


grid-template-columns:repeat(3,100px);


gap:10px;


}




.cell{


height:100px;

width:100px;


background:#090d25;


border:2px solid cyan;


border-radius:15px;


font-size:60px;


display:flex;

align-items:center;

justify-content:center;


cursor:pointer;


}



.cell:hover{


box-shadow:0 0 25px cyan;


}




.x{


color:#ff2ca8;

text-shadow:0 0 20px pink;


}




.o{


color:#00ffff;

text-shadow:0 0 20px cyan;


}





.win{


box-shadow:0 0 30px yellow;


}





button{


padding:15px 50px;


border:none;


border-radius:30px;


font-size:20px;


background:

linear-gradient(90deg,#ff00cc,#008cff);


color:white;


cursor:pointer;


}



button:hover{


transform:scale(1.1);


}



#message{


margin:20px;

color:#00ffff;


}